*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.nav-bar{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2% 20% 2% 20%;
}
.menu, .logo{
    width: 50%;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-bar li{
    padding-left: 10%;
}
.nav-bar a{
    text-decoration: none;
    color: #e5e7eb;
}
.logo{
    color: #f9f4f8;
}
.section-one{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5% 20% 10% 20%;
}
.text-initial, .img-initial{
    width: 50%;
}
.text-initial{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}
.text-initial p{
    padding: 3% 0%;
}
.text-initial button{
    font-size: 18px;
    padding: 1% 3%;
    border-radius: 13px;
    cursor: pointer;
}
.astronaut-img{
    color: #1f2937;
    font-size: 42px;
    font-weight: 900;
    width: 100%;
    background-image: url(./img/astronaut.jpg);
    padding: 25% 0% 25% 0%;
    background-size: cover;
    background-position-y: 50%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border: 15px solid rgb(241, 144, 212, 0.5) ;
    box-shadow: inset 0px 0px 25px rgb(241, 144, 212);
    box-shadow: 0px 0px 15px rgb(241, 144, 212, 0.9);
}
.astronaut-img h2{
    text-shadow: 0px 0px 14px rgb(241, 144, 212);
}
.section-two{
    display: flex;
    padding: 3% 0% 3% 0%;
    flex-direction: column;
    align-items: center;
}
